<% def active_announcement
    @announcement ||= Announcement.active_and_current
  end
%>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'announcements/announcements.css' %>
<% end %>

<% unless active_announcement.nil? %>
  <div id="announcement" class="icon icon-warning">
    <%= active_announcement.text.html_safe %>
  </div>
<% end %>
